<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/text/new" method="post">
      <legend>Test</legend>
      <div class="form-group">
        <label for="post-title">String Body</label>
        <input type="text" name="textbody" class="form-control" id="post-body" placeholder="Body">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
      {{#each texts}}
      <div class="list-group-item">
      <p>{{this.textbody}}</p>
      <a href="/text/{{this._id}}/delete">Delete</a>
      <a href="/text/{{this._id}}/update">Update</a>
      </div>
      {{/each}}
  </div>
</div>
